<!DOCTYPE html>
<html>
<head>

  <% include ./inc/head.ejs %>

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body class="show-nav nav-center home-page yo-anim-enabled">

<!--content-->
<% include ./inc/main-nav.ejs %>
<% include ./inc/mobile-nav.ejs %>


<div style="width: 80%; margin: 0 auto; padding-top: 100px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">游戏房间列表</h3>
    </div>
    <div class="panel-body">
      <div><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">创建房间</button></div>
      <table class="table table-hover" style="margin-top: 20px;">
        <tr>
          <th>房间名称</th>
          <th>房间类型</th>
          <th>房间状态</th>
          <th>房间人数</th>
          <th>创建时间</th>
          <th>点击进入</th>
        </tr>
        <% for(var i=0;i<data.length;i++){ %>
        <tr>
          <td><%= data[i].roomName %></td>
          <td>
              <% if(data[i].roomType==1){ %>
                谁是卧底
              <%}%>
          </td>
          <td>
            <% if(data[i].roomState ==0){ %>
              等待加入
            <%}%>

            <% if(data[i].roomState !=0){ %>
              游戏开始
            <%}%>

          </td>
          <td><%= data[i].users.length %> / <%= data[i].maxUser %></td>
          <td>
              <% var d = new Date();d.setTime(data[i].createTime) %>
              <%= d.getFullYear()+"-"+ (d.getMonth()+1)+"-"+ d.getDate() + " " + d.getHours()+":"+ d.getSeconds() %>
          </td>
          <td><a class="btn btn-success  btn-xs" href="/room/<%= data[i]._id %>">选我选我</a></td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>

</div>


<div class="gallery-wrapper"></div>

<div id="preloader">
  <div id="status">
    <div class="loading-wrapper">
      <img src="/img/logo2.png" alt="Loading"/>
    </div>
  </div>
  <div id="status-loaded"></div>
</div>

<% include ./inc/script.ejs %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建房间</h4>
      </div>
      <div class="modal-body">
        <form action="" id="reg" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">房间名字：</label>
            <div class="col-sm-9">
              <input type="text" name="roomName" class="form-control" id="roomName" value="<%= user.nickname %>的房间">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">房间类型：</label>
            <div class="col-sm-9">
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  谁是卧底 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">谁是卧底</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">房间人数：</label>
            <div class="col-sm-9">
              <input type="number" name="maxUser" class="form-control" id="maxUser" placeholder="4-8人之间">
            </div>
          </div>
          <!--暂时不开放密码-->
          <!--<div class="form-group">-->
          <!--<label for="roomPassword" class="col-sm-3 control-label">房间密码：</label>-->
          <!--<div class="col-sm-9">-->
          <!--<input type="password" name="roomPassword" class="form-control" id="roomPassword">-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <a class="btn btn-primary" id="sub_create">确定</a>
              <a class="btn btn-success"  data-dismiss="modal" style="margin-left: 10px">取消</a>
            </div>
          </div>
        </form>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button id="sub_create" type="button" class="btn btn-primary">提交</button>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
      <!--</div>-->
    </div>
  </div>
</div>



<!--  Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {

    $("#sub_create").click(function(e){
      e.preventDefault();
      var roomObj = {
        roomName:$("#roomName").val(),
        roomType:1,
        maxUser:parseInt($("#maxUser").val()),
        roomPassword:""
      }
      console.info(roomObj);

      $.post("/ajax/createRoom",roomObj,function(data){
        if(data.state == 'ok'){
          console.log(data);
          var id = data.data._id;
          window.location.href = '/room/'+id;
        }else{
          alert(data.msg);
        }
      })
    });
  });
</script>
</body>
</html>


