<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎来到<%= room.roomName %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .content_box {
        }

        form {
            /*position: fixed;*/
            /*bottom: 10px;*/
            margin: 0 auto;
            /*left: 0;*/
            width: 100%;
        }

        /*form { background: #000; padding: 3px;  bottom: 0; width: 100%; }*/
        /*form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }*/
        /*form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
        #msg_box {
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            min-height: 200px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 10px;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }

        .userlist {
        }
    </style>
</head>
<body>
<!--<p>欢迎来到<%= room.roomName %></p>-->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <!--房间信息-->
            <div class="panel panel-default">
                <div class="panel-heading">房间信息</div>
                <div class="panel-body">
                    <div class="">
                        <p>房间名：<%= room.roomName %></p>

                        <p>本房间房主为：<span id="roomMaster"><%= roomMaster.nickname %></span></p>

                        <p id="start_div">
                            <% if(room.roomMaster == user._id){ %>
                            <input type="button" id="start_game" class="btn btn-danger btn-block" value="Start" />
                            <%}%>
                            <!-- todo 这里空了把超链接换成socket事件，否则会先跳转，再修改房间 。-->
                            <!-- <a id="leave_room" class="btn btn-success btn-block">退出</a> -->
                        </p>
                    </div>
                </div>
            </div>
            <!--用户列表-->
            <div class="panel panel-default">
                <div class="panel-heading">用户列表</div>
                <div class="panel-body">
                    <div id="userlist">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 content_box">
            <div class="panel panel-default">
                <div class="panel-heading">内容区域</div>
                <div class="panel-body">
                    <div id="msg_box">
                        <ul id="messages"></ul>
                    </div>
                </div>
            </div>

            <form id="chat_form" class="form" action="">
                <!--<input autocomplete="off" autofocus="true" /><button class="btn btn-default">发射</button>-->
                <div class="input-group">
                    <input id="m" autocomplete="off" autofocus="true" type="text" class="form-control"
                           placeholder="来说点什么吧...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">发射</button>
          </span>
                </div>
                <!-- /input-group -->
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.7.1/jquery.min.js"></script>

<!--  Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var nickname = "<%= user.nickname %>";
    $(function () {
        $("#msg_box").height(document.body.clientHeight - 50);

        var socket = io();

        //游戏开始
        $("#start_game").live("click",function () {
            socket.emit("client order",{order_type:"game_start",order_code:""});
            $(this).attr("disabled","disabled").text("游戏中");
        });
        //离开房间
        $('#leave_room').click(function(){
            socket.emit('out_room', "out");
        });

        //发送信息
        $('#chat_form').submit(function () {
            var sendmsg = $('#m').val();
            if (sendmsg.length == 0) {
                var str = "<p>请不要发送空信息</p>";
                $('#myModal .modal-body').html(str);
                $('#myModal').modal("show");
                return false;
            }
            if(window.describeWords){
                socket.emit('client order', {order_type:"describeWords",order_code:sendmsg});
                $('#m').val('');
                window.describeWords = false;
                clearTimeout(window.mydesc);
            }else if(window.vote){
                socket.emit('client order', {order_type:"vote",order_code:sendmsg});
                $('#m').val('');
                window.vote = false;
                clearTimeout(window.myvote);
            }else{
                socket.emit('chat message', sendmsg);
                $('#m').val('');
            }
            return false;
        });

        //发送客户端命令


        //接收服务端命令
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
            $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
        });
        socket.on('server message', function (msg) {
            if(typeof msg == "object" && msg.order_type=="describeWords"){
                $('#messages').append($('<li style="color:blue;"></li>').text(msg.order_code));
                $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
            }else if(typeof msg == "object" && msg.order_type=="vote"){
                $('#messages').append($('<li style="color:blue;"></li>').text(msg.order_code));
                $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
            }else{
                $('#messages').append($('<li style="color:red;"></li>').text("系统提示："+msg));
                $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
            }
        });

        // socket.on('my keywords', function (msg) {
        //     $('#messages').append($('<li style="color:blue">关键词信息：</li>').text(msg));
        //     $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
        // });
//        socket.on('out_room',function(msg){
//            window.location.href = msg.callback_url;
//        });

        //接收服务端指令
        socket.on('service order', function (order) {
            switch (order.order_type) {
                case "start_failure":
                    start_failure(order.order_code);
                    break;
                case "url":
                    window.location.href = order.order_code;
                    break;
                case "userList":
                    updateUserList(order.order_code);
                    break;
                case "roomMaster":
                    updataMaster(order.order_code);
                    break;
                case "describeWords":
                    describeWords();
                    break;
                case "vote":
                    vote();
                    break;
                case "gameover":
                    gameover(order.order_code);
                    break;
                case "get_out":
                    get_out(order_code);
                    break;
            }
        });

        function updateUserList(list) {
            var str = '';
            for (var i = 0; i < list.length; i++) {
                if(nickname == list[i].nickname){
                    str += '<p class="text-danger" title="等级:' + list[i].level + ', 经验值:' + list[i].exp + '">' + list[i].nickname + '(我)</p>';
                }else{
                    str += '<p class="text-danger" title="等级:' + list[i].level + ', 经验值:' + list[i].exp + '">' + list[i].nickname + '</p>';
                }
            }
            $("#userlist").html(str);
        }

        function updataMaster(_nickname) {
            $("#start_div").empty();
            if(nickname == _nickname){
                $("#start_div").append('<input type="button" id="start_game" class="btn btn-danger btn-block" value="Start" />');
            }
            $("#roomMaster").html(_nickname);
        }
        function describeWords () {
            //描述环节
            window.describeWords = true;
            window.mydesc = setTimeout(function (argument) {
                if(window.describeWords){
                    socket.emit('client order', {order_type:"describeWords",order_code:""});
                    window.describeWords = false;
                }
            },30000);
        }
        function vote () {
            //投票环节
            window.vote = true;
            window.myvote = setTimeout(function () {
                if(window.vote){
                    socket.emit('client order', {order_type:"vote",order_code:""});
                    window.vote = false;
                }
            },15000)
        }
        function start_failure (order_code) {
            $('#messages').append($('<li style="color:red;"></li>').text(order_code));
            $('#msg_box').scrollTop($('#messages')[0].scrollHeight);
            $("#start_game").attr("disabled",false).text("Start");
        }
        function gameover (order_code) {
            $("#start_game").attr("disabled",false).text("Start");
        }
        function get_out (order_code) {
            alert(order_code);
            window.location.href = "/gameLobby";
        }
    });
</script>
</body>
</html>


